<div id="ajout_source">     
    <h4>Ajouter une nouvelle source</h4>        

    <form id='flux' action='/ajout_source' method= "POST" >
        <div class="form-group input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">www.rss</span>
            </div>
            <input type="text" class="form-control" id="inputName" name="url">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-sm">valider</button>
    </form>
</div>   
