
.container{
    margin-top: 1em;
}
#home{
    width: 100%;
    overflow: hidden;
}
#home ul{
    padding: 10px;
    padding-right: 15px;
    overflow-y: auto;
    height: 75vh;
    position: relative;
    width: 103%;
}
#home li{
    width:100%;
    margin: 3px;
    padding: 2px 2px 1px 0;
    list-style-type: none;
}
#home a{
    font-size: 0.8em;
    text-decoration: none;
}
#home a:visited{
    font-style: italic;
    color: gray;
}
#home span{
    float: right;
    font-size: 0.6em;
}

#ajout_source{
    margin-top: 25px;
}
#menu_sources{
    margin-top: 25px;
}